@media (max-width: 768px) {
    .modal-content {
      flex-direction: column !important; /* Asegura que el contenido se apile */
      align-items: center;
      text-align: center;
      max-width: 90%;
      max-height: 90%;
    }
  
    .modal-content div:first-child {
      width: 100%;
      max-width: 600px; /* Tamaño máximo de la imagen/video */
      max-height: 60vh;
    }
  
    .modal-content div:last-child {
      width: 100%;
      padding: 10px;
    }
  }

  @media (max-width: 380px) {
    .modal-content {
      flex-direction: column !important; /* Asegura que el contenido se apile */
      align-items: center;
      text-align: center;
      max-width: 90%;
      max-height: 100% !important;
    
    }
}
